/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

div.logo {
	font-family: "cereal"
}

h2 {
	font-size: 42px;
	font-weight: 400;
	margin: 0 10px 10px 10px;
	text-align: center;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	font-weight: bold;
}

p {
	line-height: 1.5em;
	margin: 0;
	font-size: 19px;
}

li {
	font-size: 19px;
}

section {
	padding: 20px;
}

section.alternate-background {
	background-color: #00a699;
	color: #fff;
}

main img {
	width: 100%;
}


/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin:10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */
header {
  background-color: #ff385c;
  padding: 20px 20px 20px 20px;
  text-align: center;
  flex-wrap: wrap;
}

header nav {
	display: flex;
	justify-content: center;
}

header nav ul {
	display: flex;
	padding-left: 0;
	list-style: none;
}

.logo {
	font-family: "Pangolin", cursive;
	font-size: 72px;
	color: #fff;
}

header nav ul li {
	list-style-type: none;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0 20px 0 0;
}

header nav ul li a:hover {
	color: #bdbdbd;
	text-decoration: none;
}

/* -------  Search Form ------- */
form {
	border: 2px solid #ff385c;
	padding: 10px;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form div {
	display: flex;
}

form div label {
	flex: 1;
}

form label {
	font-weight: bold;
}

form select,
form input {
	margin-bottom: 20px;
	width: 180px;
}

form button {
	background-color: #ff385c;
	border: none;
	color: #fff;
	font-size: 24px;
	padding: 15px;
	width: 100%;
}

main form {
	text-align: left;
	padding: 20px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  header {
    background-color: #ff385c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    padding: 10px;
  }

  form {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
  }

  .vacation-form .item {
    display: flex;
    flex-direction: column;
  }

  .item label, .item input, .item select, .item button {
    display: flex;
    width: 100%
  }

  .item button {
    display: table-cell;
  }

  .column {
    display: flex;
    flex: 1;
    flex-direction: column; 
    margin: 10px;
  }

  .gridrow {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}